.flight-booking-wrapper{

  padding-top: 8%;

}

.flight-booking-wrapper .flight-form {
  max-width: 800px;
  margin: auto;
  margin-bottom: 40px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.273);
  border-radius: 15px;

}

.flight-booking-wrapper .flight-form .form-label svg {
  margin-right: 5px;
  color: #007bff;
}
.flight-booking-wrapper .flight-form .passenger-box {
  cursor: pointer;
  position: relative;
}

.flight-booking-wrapper .flight-form .passenger-dropdown {
  position: absolute;
  top: 100%;
  z-index: 10;
  width: 100%;
  background: white;
  border: 1px solid #dee2e6;
}

.flight-booking-wrapper .flight-form .passenger-dropdown button {
  min-width: 30px;
}
