.form-container {
  padding: 30px;
  font-family: Arial, sans-serif;
}
.newuserform{
    margin-top: 80px;
    
    
    
}
h4 {
  color: #1f2c5c;
  margin-left: 310px;
 
}

table {
  width: 800px;
  border: none;
  margin-top: 10px;
  margin-left: 25%;
  background-color: rgb(228, 245, 245);
}

td {
  padding: 10px;
  vertical-align: top;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 8px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 95%;
  padding: 8px;
  box-sizing: border-box;
  margin-left: 8px;
}

.form-actions {
  margin-top: 20px;
  
  text-align: left;
  
}

button {
  padding: 5px 20px;
  background-color: #1f2c5c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 8px;
}

button:hover {
  background-color: #3a4b7c;
}
.error {
  color: red;
  font-size: 12px;
  display: block;
  margin-top: 4px;
}