.form-container {
  padding: 30px 10px;
  width: 78%;
  position: absolute;
  top: 0%;
  left: 20%;

}
.form-container .newuserform{
    margin-top: 80px;
      
}
.form-container .newuserform h4 {
  color: #1f2c5c;
 margin: 10px;
}

.form-container .newuserform form .input-container{
  width: 100%;
  justify-content: space-between;
}

.form-container .newuserform form .form-group {
  width: 98.5%;
  margin: 0 10px;
} 

.form-container .newuserform form .input-container .form-group {
  width: 100%;
  margin: 10px;
}

.form-container .newuserform form .form-group label {
  font-weight: 500;
  text-align: start !important;
  margin: 10px 5px;
  width: 100%;
}
.form-container .newuserform form .form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 10px;
}
.form-container .newuserform form .input-container .form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 10px;
}

.form-container .newuserform form .form-group .error {
  color: red;
  font-size: 0.85em;
  margin-top: 4px;
  text-align: start;
}

.form-container .newuserform form .success {
  color: green;
   text-align: start;
  margin-bottom: 15px;
  font-weight: bold;
}

.form-container .newuserform form .submit-btn {
  width: 98%;
  margin-left: 10px;
  padding: 10px;
  background-color: #14b8a6;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.signup-container form button:hover {
  background: #0056b3;
}