.user-wrapper{
  width: 78%;
  height: 85%;
  position: absolute;
  top: 15%;
  left: 20%;
  border-radius: 8px;
  padding: 10px 0px 10px 0px;

  backdrop-filter: blur(12px);
  border-radius: 12px;
}


.user-wrapper .emp-list-contrainer{
  display: flex;
  padding: 10px 20px 0px 20px; 

}

.user-wrapper .emp-list-contrainer h6{
flex: 1;
padding-top: 5px;
font-weight: bold;
}

.user-wrapper .emp-table{
  width: 100%;
  overflow: hidden;
  border: 1px solid rgba(128, 128, 128, 0.514);
  box-shadow: 5px 5px 15px rgba(0 0 0 / 20%);
  background-color: #ccc;


}
.user-wrapper .emp-table table{
width: 100%;
margin: 0 !important  ;

}

.user-wrapper .emp-table table tbody tr td .emp-title{
color: #000 !important;

}

.user-wrapper .emp-table table th{
padding-left: 15px;
border: none;
 background-color: #e5e7eb !important; 

}

.user-wrapper .emp-table table td{
padding-left: 15px;
}

.user-wrapper .emp-table th{
height: 30px !important;
}

.user-wrapper .emp-table table tbody tr{
height: 30px !important;
}

.user-wrapper .modal-backdrop {
  position: absolute;
  top: -5%;
  left: -2%; 
  width: 104.5%; 
  height: 105%;
  background-color: rgba(0, 0, 0, 0.593);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(8px); /* Adds the blur effect */
  -webkit-backdrop-filter: blur(8px); /* For Safari support */
}

.user-wrapper .modal-backdrop .modal-box {
  width: 95%;
  height: auto%;
  background-color: rgb(243, 243, 243);
  margin-top: -8%;
  padding: 15px;
  border-radius: 15px;
}
.user-wrapper .modal-backdrop .modal-box  .modal-header{
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.user-wrapper .modal-backdrop .modal-box  .modal-header .close-btn{
  color: white;
}
.user-wrapper .modal-backdrop .modal-box  .form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 2rem;
}

.user-wrapper .modal-backdrop .modal-box  .form-grid .form-group {
  display: flex;
  flex-direction: column;
}

.user-wrapper .modal-backdrop .modal-box  .form-grid .form-group label {
  font-weight: 500;
  margin-bottom: 5px;
  color: #0c0b0b;
}

.form-group input,
.form-group select {
  padding: 8px 10px; 
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.user-wrapper .modal-backdrop .modal-body p{
  color: rgb(20, 19, 19);
  font-size: large;
}